

.prev-page{
    border: 1px solid red;
    padding : 0.5rem ;
    margin: 15px;
  border-radius: 10px;
}
.next-page{
    border: 1px solid green;
    padding : 0.5rem ;
    margin: 15px;
  border-radius: 10px;

}